:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Common */
  --common-white: #fff;
  --common-black: #000;

  /* Primary */
  --primary-main: #1976d2;
  --primary-dark: #242c31;
  --primary-light: #f3f3f3;
}

body {
  margin: 0;
  min-height: 100vh;
}

[data-theme="dark"] {
  /* Common */
  --common-white: #000000;
  --common-black: #f2f2f2;

  /* Primary */
  --primary-main: #1976d2;
  --primary-dark: #e2e9ed;
  --primary-light: #2d2d2d;
}
